.home-container {
  max-width: 1440px;
  width: 100%;
  max-height: 100vh;
  margin: auto;
}
.search_bar_wrapper {
  width: 100%;
}
.pagination-container {
  max-width: 100%;
  width: 100%;
  padding: 1rem;
}

/* Home.css */

.background {
  max-width: 1440px;
  width: 100%;
  max-height: 100vh;
  height: 808px;
  background-image: url("../../assets/img/pexels-yaroslav-shuraev-8845070 (1).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  /* Add any additional styles you'd like for the background */
}





/* .pictures-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0;
}

.picture-wrapper {
  max-width: 283.33px;
  width: 100%;
  
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto; 
}

.picture-wrapper img {
  width: 100%;
  height: 100%;

} */
