.grid-container {
  width: 100%;
  height: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.left {
    max-width: 448px;
    width: 100%;
    max-height: 614px;
}
.middle {
    max-width: 448px;
    width: 100%;
    max-height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right {
    max-width: 448px;
    width: 100%;
    max-height: 614px;
}


.up {
    max-width: 100%;
    max-height: 295px;
}
.down {
    max-width: 100%;
    max-height: 295px;
}